* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    width: 100%;
    height: 15rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color:  #696969;
    color: #fff;
}

header h2 {
    font-size: 3rem;
}

header small {
    font-family: 'IM Fell French Canon', serif;
    font-size: 1.8rem;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10rem, auto);
}

.popup {
    grid-column: 2 / 4;
    grid-row: 1;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    margin-left: 23rem;
    margin-right: 23rem;
    margin-top: 2rem;
}

.popup h1 {
    font-size: 5rem;
}

.red-btn {
    grid-column: 4 / 5;
    grid-row: 1;
    z-index: 9;
    margin-top: 2rem;
    margin-left: 10rem;
    font-weight: 800;
}

.vitaly {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    background-color: #7e7e7e;
}

.main-title {
    font-size: 3rem;
    font-weight: 800;
    padding-top: 20rem;
}

.main-title i {
    font-size: 8rem;
    margin-right: 1rem;
}

.leo {
    grid-column: 3 / 5;
    grid-row: 1 / 5;
    background-color: #A9A9A9;
}

.drew {
    grid-column: 1 / 3;
    grid-row: 5 / 10;
    background-color: #939393;
}

.barry {
    grid-column: 3 / 5;
    grid-row: 5 / 10;
    background-color: #bdbdbd;
}

.center-elements {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

article {
    padding: 1rem;
    margin: 1rem;
}
 
.article1 {
    background-color: #C8C8C8;
}

.article2 {
    background-color: #707070;
    grid-column: 1 / 4;
    grid-row: 11 / 16;
    border-radius: 1rem;
}

.article3 {
    background-color: #C8C8C8;
    grid-row: 11 / 16;
}

.article4 {
    display: grid;
    grid-column: 1 / 5;
    grid-auto-rows: minmax(2rem, auto);
    grid-template-columns: repeat(3, 1.5fr);
}

.article4 div {
    border: 10px solid white;
    background-color: #C8C8C8;
}

.article5 {
    grid-column: 1 / 5;
    background-color: #707070;
    grid-row: 17 / 23;
    margin: 0 10rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link {
    grid-column: 1 / 5;
    margin: 0 auto;
    padding: 10rem;
}

.link a {
    border-bottom: 0.5rem solid #666;
    line-height: 1.5;
    letter-spacing: 0.2rem;
}

.article6 {
    grid-column: 1 / 5;
    background-color: #787878;
    grid-row: 24 / 30;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.article7 {
    grid-column: 1 / 5;
    margin: 0 auto;
}

.community {
    grid-column: 1 / 5;
    display: grid;
    grid-auto-rows: minmax(2rem, auto);
    grid-template-columns: repeat(2, 1fr);
    background-color: #C0C0C0;
    padding-left: 2rem;
}

.community div {
     margin-top: 5rem;
}

.community img {
    width: 15rem;
    height: 10rem;
}

.article8 {
    grid-column: 1 / 5;
    background-color: #787878;
    grid-row: 33 / 36;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.guides {
    grid-column: 1 / 5;
    padding: 1rem;
}

.guides div {
    margin-right: 20rem;
    margin-left: 5rem;
}

.float {
    float: left;
}

.article9 {
    background-color: #C8C8C8;
}

.article10 {
    grid-column: 2 / 5;
    background-color: #787878;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color:  #696969;
   color: #fff;
   height: 35rem;
}

footer ul {
    display: inherit;
    flex-wrap: wrap;
    justify-content: center;
}

footer ul li {
   margin-right: 2.5rem;
}





